{% extends "base.html" %}

{% block content %}
    <div class="d-sm-flex align-items-center text-center justify-content-center me-5">
        <h1 class="fs-1 text-white text-center m-0 me-2" style="font-size: 60px !important;"><b>Welcome to</b></h1>
        <img class="pb-1" src="/media/font_white.png" width="150">
    </div>
    {% if user.is_authenticated %}
        <ul class="nav nav-tabs justify-content-left">
            <li class="nav-item rounded-1 {% if request.resolver_match.url_name == 'blog-home' %}bg-white{% endif %}">
                <a class="nav-link"
                   aria-current="page"
                   href="{% url 'blog-home' %}">
                    Recent Posts
                </a>
            </li>
            <li class="nav-item rounded-1 {% if request.resolver_match.url_name == 'blog-followers' %}bg-white{% endif %}">
                <a class="nav-link"
                   aria-current="page"
                   href="{% url 'blog-followers' %}">
                    Follower Posts
                </a>
            </li>
        </ul>
    {% endif %}

    {% for post in posts %}
        {% include "blog/post.html" with post=post %}
    {% endfor %}
    {% include "pageination.html" %}
{% endblock content %}
