{% load crispy_forms_filters %}
{% load custom_tags %}
<div class="jumbotron mt-3 shadow-lg">
    <article class="media content-section shadow rounded-3">
        <div class="media-body">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="d-flex justify-content-between">
                        <a class="d-flex align-items-center gap-2 mt-0 mb-0 text-dark" href="{% url 'user-profile' post.author.username %}">
                            <img width="38px" height="38px" src="{{ post.author.profile.image.url }}"
                                 alt="Avatar of {{ post.author.username }}"
                                 class="rounded-circle border border-dark">
                            <h3 class="m-0 fw-semibold">{{ post.author }}</h3>
                        </a>
                    </div>
                </div>
                {% if post.author == user %}
                    <div>
                        <a class="btn btn-primary border-0 mt-1 mb-1"
                           href="{% url 'post-update' post.id %}">Update</a>
                        <a class="btn btn-danger border-0 mt-1 mb-1"
                           href="{% url 'post-delete' post.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>

            <hr>

            <h2 class="fw-bold">{{ post.title }}</h2>
            <div class="mt-1">
                <small class="text-muted">posted on {{ post.date_posted }}</small>
            </div>
            <p class="article-content mt-3 fs-5">{{ post.content }}</p>
            <div class="rounded-3">
                {% if post.file|check_file_type:post.file == ".mp4" %}
                    <video width="320" height="240" controls>
                        <source src="/media/{{ post.file }}" type="video/mp4">
                        <source src="/media/{{ post.file }}" type="video/oog">
                    </video>
                {% endif %}
                {% if post.file|check_file_type:post.file == ".png" %}
                    <img src="/media/{{ post.file }}" alt="{{ post.image }}" class="mw-100 rounded-3">
                {% endif %}
                {% if post.file|check_file_type:post.file == ".mp3" %}
                    <audio controls>
                        <source src="/media/{{ post.file }}">
                        Your browser does not support the audio element.
                    </audio>
                {% endif %}

            </div>

            <hr/>

            <div class="d-flex justify-content-between">
                <div>
                    {% for tag in post|get_tags:post %}
                        <a class="text-decoration-none" href="/search?q={{ tag }}"> <span class="badge bg-primary">
                                {{ tag }}
                            </span>
                        </a>
                    {% endfor %}
                </div>

                <div class="d-flex gap-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0 py-1">{{ post.like_set.count }}</p>

                        {% if user.username %}
                            <form action="/like-post" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="user_id" value="{{ user.id }}">

                                <button class="bg-transparent border-0" type="submit">
                                    <i class="fa-solid fa-thumbs-up {% if post|user_liked_post:user.id %}text-primary{% endif %}"></i>
                                </button>
                            </form>
                        {% else %}
                            <button class="bg-transparent border-0 user-select-none pe-none">
                                <i class="fa-solid fa-thumbs-up text-secondary user-select-none"></i>
                            </button>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0 py-1">{{ post.dislike_set.count }}</p>

                        {% if user.username %}
                            <form action="/dislike-post" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="user_id" value="{{ user.id }}">

                                <button class="bg-transparent border-0" type="submit">
                                    <i class="fa-solid fa-thumbs-down {% if post|user_disliked_post:user.id %}text-primary{% endif %}"></i>
                                </button>
                            </form>
                        {% else %}
                            <button class="bg-transparent border-0 user-select-none pe-none">
                                <i class="fa-solid fa-thumbs-down text-secondary user-select-none"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div>
                <div class="d-flex flex-column gap-2 my-3">
                    <h3 class="fw-semibold">Comments</h3>
                    {% if user.is_authenticated %}
                        <fieldset class="form-group mb-4">

                            <form action="{% url 'send-comment' %}" method="POST" class="d-flex align-items-end gap-2">
                                {% csrf_token %}

                                <label for="content">
                                    <textarea type="text" id="content" name="content" placeholder="Comment something..."
                                              class="border-0 border-bottom border-dark"
                                              style="outline: none !important;" rows="2" cols="80"></textarea>
                                </label>

                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="comment_author" value="{{ user.id }}">

                                <div class="form-group">
                                    <button class="btn btn-outline-primary btn-sm" type="submit">
                                        <i class="fa-solid fa-paper-plane"></i>
                                    </button>
                                </div>
                            </form>

                        </fieldset>
                    {% endif %}
                    {% for comment in post|get_comments:post %}
                        <div class="position-relative">
                            <div class="text-black d-flex gap-3 p-3 rounded-3" style="background-color: #DAE3E7">
                                <a href="{% url 'user-profile' comment.author.username %}" class="text-decoration-none text-dark">
                                    <img width="38px" height="38px" src="{{ comment.author.profile.image.url }}"
                                        alt="Avatar of {{ comment.author.username }}"
                                        class="rounded-circle border border-dark">
                                </a>
                                <div>
                                    <a href="{% url 'user-profile' comment.author.username %}" class="text-decoration-none text-dark">
                                        <p class="fw-bold">{{ comment.author.username }}</p>
                                    </a>
                                    <p class="text-black-50 m-0">{{ comment.date_posted }}</p>
                                    <p id="comment_{{ comment.id }}_content" class="text-break">{{ comment.content }}</p>
                                </div>
                            </div>
                            <div class="position-absolute top-0 end-0 mt-2 me-2 d-flex gap-2">
                                {% csrf_token %}
                                {% if user == comment.author %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <a href="/edit-comment/{{ comment.id }}">
                                        <button class="btn btn-primary rounded-3">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </button>
                                    </a>

                                {% endif %}
                                <form method="POST" action="{% url 'delete-comment' %}">
                                    {% csrf_token %}
                                    {% if user == comment.author or user == post.author %}
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                        <input type="hidden" name="post_author_id" value="{{ post.author.id }}">
                                        <button type="submit" class="btn btn-danger rounded-3">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </article>
</div>
