{% load crispy_forms_filters %}
{% load custom_tags %}
<div class="jumbotron mt-3 shadow-lg">
    <article class="media content-section shadow rounded-3">
        <div class="media-body">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="d-flex justify-content-between">
                        <a class="mr-2 mt-0 mb-0  text-dark" href="{% url 'user-profile' post.author.username %}">
                            <h3>{{ post.author }}</h3>
                        </a>
                    </div>
                    <div>
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                </div>
                {% if post.author == user %}
                    <div>
                        <a class="btn btn-primary border-0 mt-1 mb-1"
                           href="{% url 'post-update' post.id %}">Update</a>
                        <a class="btn btn-danger border-0 mt-1 mb-1"
                           href="{% url 'post-delete' post.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>

            <hr>

            <h2>{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
            <div class="rounded-3">
                {% if post.file|check_file_type:post.file == ".mp4" %}
                    <video width="320" height="240" controls>
                        <source src="/media/{{ post.file }}" type="video/mp4">
                        <source src="/media/{{ post.file }}" type="video/oog">
                    </video>
                {% endif %}
                {% if post.file|check_file_type:post.file == ".png" %}
                    <img src="/media/{{ post.file }}" alt="{{ post.image }}" class="mw-100">
                {% endif %}
                {% if post.file|check_file_type:post.file == ".mp3" %}
                    <audio controls>
                        <source src="/media/{{ post.file }}">
                        Your browser does not support the audio element.
                    </audio>
                {% endif %}

            </div>

            <hr/>

            <div>
                {% for tag in post|get_tags:post %}
                    <a class="text-decoration-none" href="/search?q={{ tag }}"> <span class="badge bg-primary">
                            {{ tag }}
                        </span>
                    </a>
                {% endfor %}
            </div>



            <div>
                <div class="d-flex flex-column gap-2 my-3">
                    {% for comment in post|get_comments:post %}
                        <form method="POST" action="{% url 'delete-comment' %}" class="d-grid align-items-center gap-2" style="grid-template-columns: 1fr min-content">
                            {% csrf_token %}
                            <div class="d-flex gap-3 bg-secondary p-3 rounded-3">
                                <img width="38px" height="38px" src="{{ comment.author.profile.image.url }}"
                                    alt="Avatar of {{ comment.author.username }}"
                                    class="rounded-circle border border-dark">
                                <div class="text-white">
                                    <p class="text-white-50 m-0">{{ comment.date_posted }}</p>
                                    <p class="fw-bold">{{ comment.author.username }}</p>
                                    <p>{{ comment.content }}</p>
                                </div>
                            </div>
                            {% if user == comment.author or user == post.author %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="post_author_id" value="{{ post.author.id }}">
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                            {% endif %}
                        </form>

                    {% endfor %}
                </div>

                {% if user.is_authenticated %}
                    <fieldset class="form-group">

                        <form action="{% url 'send-comment' %}" method="POST" class="d-flex align-items-center gap-2">
                            {% csrf_token %}

                            <label for="content">
                                <textarea type="text" id="content" name="content" placeholder="Comment..."
                                          class="border-0 border-bottom border-dark"
                                          style="outline: none !important;" rows="2" cols="80"></textarea>
                            </label>

                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="comment_author" value="{{ user.id }}">

                            <div class="form-group">
                                <button class="btn btn-outline-primary btn-sm" type="submit">
                                    <i class="fas fa-upload"></i> Send
                                </button>
                            </div>
                        </form>

                    </fieldset>
                {% endif %}
            </div>

            <hr/>

            <div class="d-flex justify-content-between">
                <div>
                    {% for tag in post|get_tags:post %}
                        <span class="badge bg-primary">
                        {{ tag }}
                    </span>
                    {% endfor %}
                </div>

                <div class="d-flex gap-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0 py-1">{{ post.like_set.count }}</p>

                        {% if user.username %}
                            <form action="/like-post" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="user_id" value="{{ user.id }}">

                                <button class="bg-transparent border-0" type="submit">
                                    <i class="fa-solid fa-thumbs-up {% if post|user_liked_post:user.id %}text-danger{% endif %}"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <p class="m-0 py-1">{{ post.dislike_set.count }}</p>

                        {% if user.username %}
                            <form action="/dislike-post" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <input type="hidden" name="user_id" value="{{ user.id }}">

                                <button class="bg-transparent border-0" type="submit">
                                    <i class="fa-solid fa-thumbs-down {% if post|user_disliked_post:user.id %}text-danger{% endif %}"></i>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
