{% extends "base.html" %}

{% block content %}
    <h1 class="text-white fw-bold">About us</h1>
    <hr class="border-2 text-white">
    <div class="text-white fs-5 lh-base">
        <p>
             At "coal," we believe that the world is a better place when people connect and communicate.  That's why we created this social media app - to bring people together, no matter where they are, and foster meaningful relationships. Our journey began with three friends who started building an app as an academic project in 2023. The name “coal” is related to the coal industry of the region in Germany the friends came from and which connected them. They had the vision to create a platform that empowers individuals to stay connected, share their stories, and build strong communities.
        <p>
        <b class="text-primary">Our Mission:</b>
            <br>
            Our mission at "coal" is to create a safe, inspiring, and positive space for people to connect, share, and grow. We envision a world where distances don't limit relationships, where people from different cultures, backgrounds, and perspectives can come together and learn from each other. With the power of technology, we aim to bridge gaps and build a global network of friends and supporters.
        </p>
        <p>
            <b class="text-primary">Features We're Proud Of:</b>
            <br>
            Personalized Profiles: Express yourself with a profile that truly represents who you are. Customize your profile with photos, videos, and interactive elements.
            News Feed: Stay updated with the latest posts and updates from your friends, family, and favorite influencers.
            Groups and Communities: Join or create groups based on your interests, hobbies, and causes. Connect with like-minded individuals and make meaningful connections.
            Private Messaging: Engage in one-on-one conversations with your friends and loved ones through our secure and encrypted messaging feature.
            Events and Meetups: Discover local and virtual events happening around you and connect with people who share your interests.
            Safety and Privacy: We prioritize your safety and privacy above all else. Our app is built with state-of-the-art security measures to protect your data and ensure a secure environment.
        </p>
        <p>
            <b class="text-primary">Our Vision:</b>
            <br>
            "coal" is not just an app; it's a movement. We believe that real connections can lead to positive changes in the world. Our vision is to inspire and empower people to make a difference, whether it's supporting a cause, sharing knowledge, or simply being there for someone in need. Through "coal" we want to build a global community that celebrates diversity, spreads kindness, and fosters understanding.
            Join us on this exciting journey of building meaningful connections. Download "coal" today and let's create a world where everyone feels connected and valued.
            Stay connected, The coal Team
        </p>
    </div>
{% endblock content %}
