{% load static %}
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% if title %}
        <title>Programmable - {{ title }}</title>
    {% else %}
        <title>Programmable</title>
    {% endif %}

</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="{% url 'blog-home' %}">
            <i class="fa-solid fa-hat-wizard"></i>
            #programmable
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="btn text-white m-2" href="{% url 'blog-home' %}">
                <i class="fas fa-home"></i> Home
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'post-create' %} " class="btn text-white m-2">
                    <i class="fas fa-user-edit"></i> New Post
                </a>
                <a href="{% url 'user-profile' user.username %}" class="btn text-white m-2">
                    <i class="fa-solid fa-hippo"></i> {{ user.username }}
                </a>
                <a href="{% url 'logout' %} " class="btn text-white m-2">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            {% else %}
                <a href="{% url 'login' %} " class="btn text-white m-2">
                    <i class="fas fa-user-tie"></i> Login
                </a>
                <a href="{% url 'register' %} " class="btn text-white m-2">
                    <i class="fas fa-sign-in-alt"></i> Sign Up
                </a>
            {% endif %}

            <!------{{ request.get_host }}/blog/search/-->
            <form class="d-flex ms-auto" id="searchform" action="{% url 'search' %}" method="get" role="search">
                <input class="me-1 form-control form-control-sm" name="q" type="text" value="{{ request.GET.q }}"
                       placeholder="Search Here..."/>
                <button type="button" onclick="searchform.submit()" class="text-white my-color btn btn-sm btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5 pt-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>
</html>
