{% extends 'base.html' %}
{% load custom_tags %}

{% block content %}
    <div class="py-5">
        <div class="d-flex align-items-end justify-content-between">
            <div class="d-inline-flex flex-column align-items-center">
                <img width="240px" height="240px" class="rounded-circle border border-2 border-secondary"
                     src="{{ profile.image.url }}" alt="User Avatar">
                <h1 class="text-white mt-3">{{ profile.user.username }}</h1>
                <p class="text-white-50 fs-6">{{ post|formatted_join_date:profile }}</p>
            </div>
            {% if profile.user == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile-update' %}">Update</a>
                </div>
            {% endif %}
        </div>
        <hr class="text-white">
        <p class="text-white">
            {{ profile.bio }}
        </p>
    </div>

    {% if user == profile.user %}
        <h1 class="my-3 text-white">My posts</h1>
    {% else %}
        <h1 class="mb-3 text-white">Posts by {{ profile.user.username }}</h1>
    {% endif %}
    {% for post in posts %}
        {% include "blog/post.html" with post=post %}
    {% endfor %}
    {% include "pageination.html" %}

{% endblock %}